.post-list {
    .poster {
        display: block;
        width: 45px;
        height: 45px;
        background: #eee;
        object-fit: contain;
        margin: 0 auto;
    }

    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            width: 300px;
        }
    }
}

